/*Brand icons*/
.github_icon{
    background: url(brand_icons/github.svg) center center no-repeat;
    background-size: contain;
}

.social_icon {
    height: 20px;
    width: 20px;
    -webkit-mask-repeat: no-repeat;
    cursor: pointer; 
    display: inline-block;
 }